<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8"/>
	<title>Friends Note</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta content="" name="description"/>
	<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="${contextPath}/assets/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="${contextPath}/assets/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="${contextPath}/assets/css/uniform.default.min.css"
	rel="stylesheet" type="text/css" />
<link href="${contextPath}/assets/css/style-metronic.css" rel="stylesheet"
	type="text/css" />

<link href="${contextPath}/assets/css/style.css" rel="stylesheet"
	type="text/css" />

<link href="${contextPath}/assets/css/style-responsive.css"
	rel="stylesheet" type="text/css" />
	<link href="${contextPath}/assets/css/pages/error.css"
	rel="stylesheet" type="text/css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-500-full-page">
<div class="row">
	<div class="col-md-12 page-500">
		<div class=" number">
			 forbidden
		</div>
		<div class=" details">
			<h3>无权访问！！！</h3>
			<p>
				若要访问，请联系管理员!<br/>
				亲，不要恶意访问，否则账号将被禁封！<br/><br/>
			</p>
			<p>
				<a  href="${basePath}/login/page"  class="btn blue "  >Home <i class="m-icon-swapright m-icon-white"></i></a>
			</p>
		</div>
	</div>
</div>
<!-- END BODY -->
</body>
</html>